div.box-container {
  margin: 0 auto;
  width: 700px;
  height: 700px ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
div.box {
  width: 300px;
  height: 300px;
  margin: 25px;
}
div#green.box {
  background-color: green;
}
div#red.box {
  background-color: red;
}
div#blue.box {
  background-color: blue;
}
div#yellow.box {
  background-color: yellow;
}
div.controls-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
button#start {
  width: 100px;
}
h3#score {
  margin: 0 50px;
}
