body {
  padding: 100px 0;
}
form {
  margin: 20px;
}
div.game-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding-top: 100%;
}
div.game-center {
  position: absolute;
  background: black;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  display: flex;
  flex-direction: column;
}
div.center-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
div.highscores-container {
  margin: 0 auto;
  max-width: 500px;
}
div.box {
  position: absolute;
  width: 50%;
  height: 50%;
}
div#green.box {
  top: 0;
  left: 0;
  border-top-left-radius: 100%;
  background: green;
}
div#red.box {
  top: 0;
  right: 0;
  border-top-right-radius: 100%;
  background: red;
}
div#blue.box {
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 100%;
  background: blue;
}
div#yellow.box {
  bottom: 0;
  right: 0;
  border-bottom-right-radius: 100%;
  background: yellow;
}
h1#logo {
  text-align: center;
  font-size: 5em;
  padding-top: 12.5%;
  color: white;
  font-family: 'Anton', sans-serif;
}
span#bar-brand {
  color: white;
  font-family: 'Anton', sans-serif;
}
i#start {
  color: green;
  pointer-events: auto;
}
h3#score {
  color: white;
  font-size: 5em;

}
.animated {
  animation: flash-box 0.5s ease 1;
}
@keyframes flash-box {
  0% {
    opacity: 0;
    /*transform: scale(1.1);*/
  }
  100% {
    opacity: 1.0;
  }
}
