div.box-container {
  margin: 0 auto;
  width: 700px;
  height: 700px ;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
div.box {
  width: 300px;
  height: 300px;
  margin: 25px;
}
div#green.box {
  background: green;
}
div#red.box {
  background: red;
}
div#blue.box {
  background: blue;
}
div#yellow.box {
  background: yellow;
}
div.controls-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
button#start {
  width: 100px;
}
h3#score {
  margin: 0 50px;
}
.animated {
  animation: flash-box 0.5s ease 1;
}
@keyframes flash-box {
  0% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1.0;
  }
}
